/***** GOOGLE FONTS *****/
@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
/***** PROPIEDADES GENERALES *****/
* {
  padding: 0;
  margin: 0; }

p {
  font-family: "Rubik", sans-serif; }

/***** MENU DE NAVEGACION *****/
header {
  background-color: #2b2d42; }
  header a.menu {
    color: #8d99ae;
    font-weight: bold; }

/***** TITULO PAGINAS *****/
.tituloPaginas {
  background-color: #8d99ae;
  text-align: center;
  text-transform: uppercase;
  font-family: "Mukta", sans-serif;
  margin: 0; }

/***** FONDO PAGINAS *****/
.fondoPaginas {
  background-image: url(../imagenes/Titanium.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

/***** PIE DE PAGINA *****/
.piePagina {
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: #2b2d42;
  color: #ffffff;
  padding-top: 10px;
  text-align: center; }

/***** SECCION PRESENTACION *****/
.seccionPresentacion {
  background-image: url(../imagenes/servidores01.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 50px; }
  .seccionPresentacion .titulos {
    color: #2b2d42; }

/***** SECCION TARJETAS *****/
.seccionTarjetas {
  display: flex;
  justify-content: space-around;
  align-content: center;
  margin-bottom: 20px; }
  .seccionTarjetas .contenedorTarjetas {
    width: 300px;
    height: 350px; }
  .seccionTarjetas .tarjetas {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d; }
  .seccionTarjetas .tarjetaDelante, .seccionTarjetas .tarjetaDetras {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden; }
  .seccionTarjetas .tarjetaDelante {
    display: grid;
    justify-items: center;
    align-items: center; }
  .seccionTarjetas .logoTarjetas {
    width: 200px; }
  .seccionTarjetas .pieTarjetas {
    font-size: 1rem; }
  .seccionTarjetas .tarjetaDetras {
    text-align: center;
    transform: rotateY(180deg);
    padding: 10px;
    place-content: center; }
  .seccionTarjetas .contenedorTarjetas:hover .tarjetas {
    transform: rotateY(-180deg); }

/***** SECCION COLOR *****/
.seccionColor {
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: #8d99ae;
  padding-top: 40px;
  padding-bottom: 40px; }
  .seccionColor .textoSolucion {
    font-size: 3rem;
    text-align: center; }

/***** SECCION CERTIFICACIONES *****/
.seccionCertificaciones {
  margin-top: 30px;
  margin-bottom: 30px; }
  .seccionCertificaciones .titulosCertificaciones {
    display: grid;
    justify-items: center;
    align-items: center; }
    .seccionCertificaciones .titulosCertificaciones h4 {
      font-size: 2rem;
      text-align: center; }
    .seccionCertificaciones .titulosCertificaciones p {
      text-align: center; }
  .seccionCertificaciones .contenedorLogos {
    display: flex;
    justify-content: space-between;
    align-content: center; }
  .seccionCertificaciones .logoCert {
    width: 100px; }

/***** BOTON GO UP *****/
.goUp {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 90px;
  height: 120px; }

.seccionPerfil {
  display: flex;
  justify-content: space-around;
  align-content: center;
  padding-top: 30px;
  padding-bottom: 30px; }
  .seccionPerfil .contenedorImagenPerfil {
    display: grid;
    justify-items: center;
    align-items: center; }
  .seccionPerfil .fotoPerfil {
    width: 500px;
    border: 2px solid #2b2d42;
    border-radius: 10px; }
  .seccionPerfil .tarjetasTiempo {
    margin-left: 20px;
    background-color: #2b2d42;
    border-radius: 10px;
    opacity: 0.9; }
    .seccionPerfil .tarjetasTiempo .tituloTarjetas {
      padding: 5px;
      color: #a3aec1; }
    .seccionPerfil .tarjetasTiempo .infoTarjetas {
      color: #a3aec1;
      padding: 5px; }
  .seccionPerfil .lineaDiv {
    border-left: 5px solid #2b2d42;
    border-radius: 3px; }
  .seccionPerfil .tituloTarjetas::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #8d99ae;
    border-radius: 50%;
    border: 5px solid #8d99ae;
    margin-left: -35px;
    margin-top: 15px;
    z-index: 1; }
