@media (min-width: 300px) and (max-width: 1260px) {
    header {
        position: sticky;
        top: 0;
        z-index: 2;
    }
    .seccionTarjetas {
        display: flex;
        flex-wrap: wrap;

        .contenedorTarjetas {
            margin-left: -35px;
        }
    }

    .contenedorLogos {
        display: flex;
        flex-wrap: wrap;

        .uno {
            display: none;
        }
    }

    .contenedorGoUp {
        display: none;
    }

    .seccionPerfil {
        display: flex;
        flex-wrap: wrap;

        .lineaTiempo {
            margin-top: 10px;
        }
    }

    .seccionTrabajos {
        display: flex;
        flex-wrap: wrap;
    }

    .tarjetasTrabajos {
        margin-bottom: 10px;
    }

    .seccionClientes {
        display: flex;
        flex-wrap: wrap;
    }

}