/***** GOOGLE FONTS *****/
@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
/***** PROPIEDADES GENERALES *****/
* {
    padding: 0;
    margin: 0;
}

p {
    font-family: $tipografiaTextos;
}

/***** MENU DE NAVEGACION *****/
header {
    background-color: $azul;

    a.menu {
        color: $gris;
        font-weight: bold;
    }
}
/***** TITULO PAGINAS *****/
.tituloPaginas {
    background-color: $gris;
    text-align: center;
    text-transform: uppercase;
    font-family: $tipografiaTitulos;
    margin: 0;
}
/***** FONDO PAGINAS *****/
.fondoPaginas {
    background-image: url(../imagenes/Titanium.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
/***** PIE DE PAGINA *****/
.piePagina {
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: $azul;
    color: $blanco;
    padding-top: 10px;
    text-align: center;
}