.seccionTrabajos {
    display: flex;
    justify-content: space-around;
    align-content: center;
    padding-top: 10px;
    padding-bottom: 10px;

    .tarjetasTrabajos {
        text-align: center;
        border: 2px solid $azul;
        box-shadow: 3px 3px 3px $azul;
    }

    .tituloTarjetas {
        background-color: $amarillo;
    }
}